    * {
        margin: 0;
        padding: 0;
    }
    
    a {
        text-decoration: none;
    }
    
    li {
        list-style: none;
    }
    
    .navbarLeft {
        position: absolute;
        top: 0;
    }
    
    .navOn {
        background-color: azure;
        height: 100vh;
        width: 60vw;
    }
    
    .customerName {
        font-size: 20px;
        margin: 10px;
        margin-right: 20px;
        display: inline-table;
    }
    
    .customerName a {
        color: darkred;
        font-size: 30px;
    }
    
    .navOpen {
        padding: 10px;
        cursor: pointer;
        margin: 25px 8px;
    }
    
    .navNone {
        display: none;
    }
    
    .navFirst {
        background: url(../img/navbar.jpg) no-repeat center;
        width: 100vw;
        height: 19vh;
        display: flex;
        place-content: space-between;
        position: relative;
    }
    
    .logo a img {
        margin-top: 12px;
        width: 122px;
        margin-left: 80px;
        border-radius: 45px;
    }
    
    .openNav {
        background-color: black;
        margin: 3px;
        width: 30px;
        height: 2px;
    }
    
    .profileImg {
        background-color: rgb(160, 235, 248);
        width: 167px;
        height: 167px;
        border-radius: 102px;
    }
    
    .profile {
        display: grid;
        justify-content: center;
    }
    
    .profile a {
        display: block;
        margin: 32px auto;
        font-size: 30px;
        color: black;
    }
    
    .line {
        background-color: rgb(54, 49, 49);
        width: 60vw;
        height: 1px;
    }
    
    .navList li {
        margin: 20px 36px;
        font-size: 20px;
    }
    
    .navList li a {
        color: black;
    }
    /* home page */
    
    .chatbox {
        position: fixed;
        bottom: 10px;
        right: 10px;
        margin-bottom: 25px;
    }
    
    .chatbox div {
        margin-left: 13px;
    }
    
    .chatbox a img {
        width: 70px;
        margin: 1px 21px 5px 0px;
    }
    
    .Book a img {
        width: 20vh;
        border-radius: 100px;
    }