<section class="homePage">
    <div class="homeItem">
        <div class="items">
            <div class="homeBook">
                <img src="./img/photos.jpg" alt="">
                <div>
                    <div>केवल फोटो बनवाने के लिए</div>
                    <a href="">click</a>
                </div>
            </div>
            <div class="homeBook">
                <img src="./img/fram1.jpg" alt="">
                <div>
                    <div>फोटो फ्रेम के साथ बनवाने के लिए</div>
                    <a href="">click</a>
                </div>
            </div>
            <div class="homeBook">
                <img src="./img/fram.jpg" alt="">
                <div>
                    <div>स्टूडियो पे मौजूद फ्रेम को देखने के लिए </div>
                    <a href="">click</a>
                </div>
            </div>
            <div class="homeBook">
                <img src="./img/album.jpg" alt="">
                <div>
                    <div>स्टूडियो पे मौजूद एलबम को देखने के लिए </div>
                    <a href="">click</a>
                </div>
            </div>

        </div>
        <div class="orderCamara">
            <img src="./img/book.jpg" alt="">
            <div>
                हर तरीके के कैमरा उपलब्ध है और पूरी फ़्लैश लाइट के साथ फोटोग्राफी होती है और बेहतरीन फोटोग्राफी व वीडियोग्राफी करिज्मा-एलबम व बेस्ट विडियो एडिटिंग आपके दीपा स्टूडियो पे
                <div>
                    सादी या किसी भी फंक्शन में वीडियोग्राफी या फोटोग्राफी के लिए
                </div>
            </div>
            <a href="">click</a>
        </div>
    </div>
</section>