<section class="homePage">
    <div class="homeItem">
        <div class="items">
            <div class="Book">
                <a href=""><img src="./img/book.jpg" alt=""> Album For Photos</a>
            </div>
            <div><a href="">Only Frame</a></div>
            <div><a href="">Photo With Frame</a></div>
            <div><a href="">To make photos</a></div>
            <div><a href="">To make a wedding album</a></div>
        </div>
        <div class="chatbox">
            <a href="">
                <img src="./img/chat.png" alt="">
                <div>Chat</div>
            </a>

        </div>
    </div>
</section>