<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deepa-Studio</title>
    <link rel="stylesheet" href="./css/app.css">
</head>

<body>

    <nav>
        <nav class="navFirst" style="background: url(img/navbar.jpg) no-repeat center;width: 100vw; height: 22vh; display: flex; place-content: space-between;  position: relative;">
            <div class="logo">
                <a href=""><img src="img/logo.png" alt="" style="width: 155px;margin-left: 80px;"></a>
            </div>
            <div style="color: rgb(17, 14, 14);background-color: aliceblue;font-size: 20px;padding: 10px;border-radius: 30px;display: inline-table;" href="">Welcome- <br> XYZ</a>
            </div>
        </nav>
        <div>
            <nav class="navbarLeft ">
                <div class="navOpen ">
                    <div class="openNav"></div>
                    <div class="openNav"></div>
                    <div class="openNav"></div>
                    <div class="openNav"></div>
                </div>
                <div class="leftNavIn navNone">
                    <div class="profile">
                        <div class="profileImg"></div>
                        <a href="">Profile</a>
                    </div>
                    <div class="line"></div>
                    <div>
                        <ul class="navList">
                            <li><a href="">Home</a></li>
                            <div class="line"></div>
                            <li><a href="">Order</a></li>
                            <div class="line"></div>
                            <li><a href="">Photo Status</a></li>
                            <div class="line"></div>
                            <li><a href="">Offers</a></li>
                            <div class="line"></div>
                            <li><a href="">Chat</a></li>
                            <div class="line"></div>
                            <li><a href="">Logout</a></li>
                            <div class="line"></div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

    </nav>
</body>

</html>